<div class='container'>
    <div class='mt-4'>
        <form method='post'>
            <label for='characters' class='form-label'>Nhập ký tự</label>
            <input type='text' name='q' id='characters' class='form-control' />
            <label for='validationServer04' class='form-label'>State</label>
            <select class='form-select' name='gender' required>
                <option selected value=''>Choose...</option>
                <option value='male'>Nam</option>
                <option value='female'>Nữ</option>
            </select>
            <button class='btn btn-primary mt-4'>Submit</button>
        </form>
    </div>
</div>